spring:
  application:
    name: notification-service
  
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}

server:
  port: 8084

logging:
  level:
    com.erp.notification: DEBUG
    org.springframework.web.socket: DEBUG
    org.springframework.messaging: DEBUG
