spring:
  application:
    name: notification-service

server:
  port: 8084

logging:
  level:
    com.erp.notification: DEBUG
    org.springframework.web.socket: DEBUG
    org.springframework.messaging: DEBUG
